@import "tailwindcss";

@theme {
  --color-beige-50: #fdfbf7;
  --color-beige-100: #f5f5dc;
  --color-beige-200: #e8e6d1;
  --color-beige-900: #4a4a40;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}
